<html>
<head>
<%= csrf_meta_tag %></head>
    <body>
      <H2 style="TEXT-ALIGN: center">欢迎使用</H2>
      <P>尊敬的用户：<BR>
      请与管理员联系获取相关填报数据的权限，谢谢！
      <BR>
      </P>
      
      <P><BR>
        &nbsp;</P>
		</DIV></DIV></DIV>

</body>
</html>
