<title>检验检测数据管理平台</title>
<head>
<script type="text/javascript">
    alert("重要通知,请看首页!数据下载在http://sp.ganggang.me");
    function partRefresh1() {
        document.getElementById("indexid").src="/bjp_bsbs/new";
    }
    function partRefresh2() {
        document.getElementById("indexid").src="/bjp_bsbs";
    }
    function partRefresh3() {
        document.getElementById("indexid").src="/users";
    }
    function partRefresh4() {
        document.getElementById("indexid").src="/sp_bsbs/new";
    }
    function partRefresh5() {
        document.getElementById("indexid").src="/sp_bsbs_spsearch";
    }
    function partRefresh6() {
        document.getElementById("indexid").src="/hzp_bsbs/new";
    }
    function partRefresh7() {
        document.getElementById("indexid").src="/hzp_bsbs";
    }
    function partRefresh8() {
        document.getElementById("indexid").src="/sp_bsbs_statisticsindex";
    }
    function partRefresh9() {
        document.getElementById("indexid").src="/sp_bsbs_spsearch?s8=9 ";
    }
    function partRefresh10() {
        document.getElementById("indexid").src="/jg_bsbs";
    }
    function partRefresh11() {
        document.getElementById("indexid").src="/users_changeauthority";
    }
    function partRefresh12() {
        document.getElementById("indexid").src="/spkj_bsbs/new";
    }
    function partRefresh23() {
        document.getElementById("indexid").src="/sp_production_infos";
    }
    function partRefresh24() {
        document.getElementById("indexid").src="/sp_company_infos";
    }
    function partRefresh13() {
        document.getElementById("indexid").src="/yycz/dj";
    }
    function partRefresh14() {
        document.getElementById("indexid").src="/yycz/gzap";
    }
    function partRefresh15() {
        document.getElementById("indexid").src="/yycz/cztb";
    }
    function partRefresh16() {
        document.getElementById("indexid").src="/yycz/czsh";
    }
    function partRefresh17() {
        document.getElementById("indexid").src="/wtyp_czbs";
    }
    function partRefresh18() {
        document.getElementById("indexid").src="/wtyp_czbs_by_state/1";
    }
    function partRefresh19() {
        document.getElementById("indexid").src="/wtyp_czbs_by_state/2";
    }
    function partRefresh20() {
        document.getElementById("indexid").src="/tasks/deploy";
    }
    function partRefresh21() {
        document.getElementById("indexid").src="/tasks/assign";
    }
    function partRefresh22() {
        document.getElementById("indexid").src="/tasks/check";
    }
    function partRefresh33() {
        document.getElementById("indexid").src="/baosong_as";
    }
    $(function(){
      $(".collapse").click(function(){
        var o = $(this);
        o.next('.subnav').slideToggle();
      });
    });
</script>
<style type="text/css">
 .collapse + .subnav {
    display: none;
 }
</style>
</head>
<body>
<DIV id="top">
  <DIV id="logo"><IMG src="/assets/logo.jpg"></A></DIV>
  <DIV id="top_right" class="form-inline">
    <label>欢迎您:<%=session[:user_name]%></label>
    <%= button_to "退出",'/admin/logout',:method => :get, :class => "btn btn-xs btn-danger" %>
    <%= (Time.now).strftime("%Y年%m月%d日 %H:%M:%S") %>
  </DIV>
</DIV>
<DIV class="sys-nav">
<UL>
  <LI style="WIDTH: 90px"><A href="javascript:parent.location.reload();">系统首页</A></LI>
  <LI style="WIDTH: 150px"><A href="javascript:void(0);"  target=_blank>&#x68C0;&#x9662;&#x4E3B;&#x9875;</A> </LI>
  <LI style="WIDTH: 200px"><A href="/sp_bsbs_download_file?filename=public/shuoming.doc"  target=_blank>系统说明</A> </LI>
  <LI style="WIDTH: 145px"><A  href="javascript:void(0);" target=main_content>&#x5E38;&#x89C1;&#x95EE;&#x9898;</A> </LI></UL></DIV>
<DIV class=banner_sc></DIV>
<DIV class=mainbox>
<DIV class=main_left>
<DIV id=PARENT>
<UL id=nav>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center">
  <%#= link_to "表单录入",:action=>"new",:controller=>"hzp_bc_dws" %></A> </LI>
  <%if session[:user_bjp]==1%>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh1();">保健品检验数据录入</A> </LI>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh2();">保健品检验数据查看</A> </LI>
  <%end%>
  <%if session[:user_hzp]==1%>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh6();">化妆品检验数据录入</A></LI>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh7();">化妆品检验数据查看</A> </LI>
  <%end%>
    <%if session[:user_sp]==1%>
    <%if session[:user_authority_1]==1%>
        <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh4();">食品检验数据录入</A></LI>
    <%end%>
        <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh5();">食品检验数据查看</A> </LI>
      <% if current_user.yycz_permission.to_i > 0 || current_user.is_admin? %>
        <LI>
          <A class="collapse" style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:void(0);">异议处理</A>
          <ul class="subnav">
            <% if current_user.yysl == 1%>
              <li><a href="javascript:partRefresh13();">登记</a></li>
            <% end %>
            <% if current_user.zhxt == 1%>
              <li><a href="javascript:partRefresh14();">处置工作安排</a></li>
            <% end %>
            <% if current_user.yybl == 1%>
              <li><a href="javascript:partRefresh15();">处置填报</a></li>
            <% end %>
            <% if current_user.yysh == 1%>
              <li><a href="javascript:partRefresh16();">处置审核</a></li>
            <% end %>
          </ul>
        </LI>
      <% end %>

      <% if current_user.hcz_permission.to_i > 0 || current_user.is_admin? %>
        <LI>
            <A class="collapse" style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:void(0);">核查处置</A>
            <ul class="subnav">
            <% if current_user.hcz_czap == 1 or current_user.hcz_admin == 1 %>
                <li><a href="javascript:partRefresh17();">核查处置安排</a></li>
            <% end %>
            <% if current_user.hcz_czbl == 1 or current_user.hcz_admin == 1 %>
                <li><a href="javascript:partRefresh18();">核查处置办理</a></li>
            <% end %>
            <% if current_user.hcz_czsh == 1 or current_user.hcz_admin == 1 %>
                <li><a href="javascript:partRefresh19();">核查处置审核</a></li>
            <% end %>
            </ul>
        </LI>
      <% end %>
    <%end%>
  <!--  <%if session[:user_js]==1%>
        <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh9();">问题样品处理情况</A></LI>
    <%end%> -->
    <% if current_user.pad_permission.to_i > 0 || current_user.is_admin? %>
    <LI>
      <A class="collapse" style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:void(0);">样品采集</A>
      <ul class="subnav">
        <% if current_user.rwbs == 1 or current_user.is_admin? %>
        <li><a href="javascript:partRefresh20();">计划部署</a></li>
        <% end %>
        <% if current_user.rwxd == 1 or current_user.is_admin? %>
        <li><a href="javascript:partRefresh21();">任务下达</a></li>
        <% end %>
        <li><a href="javascript:partRefresh22();">任务查看</a></li>
      </ul>
    </LI>
    <% end %>
  <%if session[:user_name]=='admin'%>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh10();">机构信息录入</A></LI>
    <li><a style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh23();">产品库维护</a></li>
    <li><a style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh24();">被抽样单位库维护</a></li>
    <li><a style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh33();">报送分类维护</a></li>
  <%end%>
  <%if session[:user_name]=='admin'||session[:change_js]==8||(session[:change_js]==10&&session[:user_authority_5]==1)%>
    <!--LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh8();">数据统计管理</A> </LI-->
  <%end%>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh3();">登录用户管理</A> </LI>
    <LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh11();">用户角色切换</A> </LI>
<!--<LI><A style="FONT-SIZE: 14px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="/spkj_bsbs/new">食品现场抽检信息</A></LI>-->
</UL></DIV></DIV></FORM>    

<DIV class="main_right">
  <DIV class="right_content">
    <iframe src="/main/welcome" id="indexid"  name="indexname" height="600px" width="100%" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″></iframe>
  </DIV>
</DIV>
<DIV style="CLEAR: both"></DIV>
</DIV>
<DIV class=cp>中国食品药品检定研究院<A href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</A></DIV>
</body>
</html>
