<style type="text/css">
  .category li {
    list-style: none;
  }

  .category ul {
    border-right: 1px solid #CECECE;
  }

  .category-link {
    line-height: 30px;
  }

  .category-link.active {
    color: green;
    text-decoration: underline;
  }

  .list-group-item-heading {
    cursor: pointer;
  }

  .category .actions {
    border-bottom: 1px solid #CECECE;
  }

  label.checked_all {
    margin-left: 4px;
  }

  .select_checkbox {
    margin-bottom: -19px;
  }
</style>
<script type="text/javascript">
  app.value('BaosongB', <%= @baosong_b.to_json.html_safe %>);
   var info = '<%= SysProvince.level1.map { |p| [p.name, p.name] }.unshift(['不限制', ''],['省级任务', '省级任务']).to_json.html_safe %>';
  $(function(){
    var reg = /&quot;/ig;
    var sNewStr = info.replace(reg,'"');
    sNewStr = eval("(" + sNewStr + ")");
    sNewStr = sNewStr.map(function(ary){
      return {value : ary[1], text : ary[0]};
    });
    $('#department').editable({
      type: "select",              //编辑框的类型。支持text|textarea|select|date|checklist等
      source: sNewStr,//[{ value: "开发部", text: "开发部" }, { value: "销售部", text: "销售部" }, {value:"行政部",text:"行政部"}],
      title: "选择区域",           //编辑框的标题
      disabled: false,           //是否禁用编辑
      emptytext: "",       //空值的默认文本
      mode: "inline",            //编辑框的模式：支持popup和inline两种模式，默认是popup
      validate: function (value) { //字段验证
       // if (!$.trim(value)) {
       //   return '不能为空';
       // }
      },
      success:function(a,b){
        var params = { baosong_b: {}};
        params.baosong_b['prov'] = b;
        $.ajax({
          url: '/baosong_bs/'+'<%=@baosong_b.id%>'+'.json',
          data:params,
          type: 'PUT',
          success: function( response ,v) {
           // console.log(v);
          }
        });

      }
    });
  });
</script>
<div data-ng-controller="PlanMakerCtrl">
  <div class="form-group">
    <label>名称：</label>
    <a href="javascript:void(0);" onbeforesave="updateBaosongB('name', $data)" e-style="width: 400px;" editable-text="baosong_b.name">{{baosong_b.name}}</a>
  </div>
  <div class="form-group">
     <label>所在区域：</label>
    <!--  <a href="javascript:void(0);" onbeforesave="updateBaosongB('prov', $data)" e-style="width: 400px;" editable-select="baosong_b.prov">{{baosong_b.prov || '无限制'}}</a>-->
      <a href="#" id="department"  e-style="width: 400px;" >{{baosong_b.prov || '无限制'}}</a>
    <!-- <#%= select :prov, options_for_select(SysProvince.level1.map { |p| [p.name, p.name] }.unshift(['不限制', nil]), @baosong_b.prov), {}, :class => 'form-control input-sm' %>-->
 </div>
  <div class="form-group">
    <label>备注：</label>
    <a href="javascript:void(0);" onbeforesave="updateBaosongB('note', $data)" e-style="width: 400px;" e-rows="10" editable-textarea="baosong_b.note">{{baosong_b.note || '无备注'}}</a>
    <!--p class="help-block">以上为备注</p-->
  </div>
  <div class="form-group">
    <div style="margin: 0;" class="row">
      <h5 class="col-md-3 col-xs-3">食品大类</h5>
      <h5 class="col-md-3 col-xs-3">食品亚类</h5>
      <h5 class="col-md-3 col-xs-3">食品次亚类</h5>
      <h5 class="col-md-3 col-xs-3">食品细类</h5>
    </div>
    <div style="margin: 0;" class="category row">
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="a_categories && a_categories.length != 0">
          <input id="a" type="checkbox" data-ng-model="a_all" ng-change="selectAll(a_categories,a_all)"><label for="a" class="checked_all">全选</label>
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('ACategory', a_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in a_categories">
          <div x-ng-if="category.enable">
            <input type="checkbox" data-ng-model="category.checked">
            <a x-ng-show="!is_editing_a" x-ng-click="select('a_category_id', category)" data-ng-class="{active: selected.a_category_id == category.id}" class="category-link" href="">
              {{category.name}}
            </a>
          </div>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="b_categories && b_categories.length != 0">
          <input id="b" type="checkbox" data-ng-model="b_all" ng-change="selectAll(b_categories,b_all)"><label for="b" class="checked_all">全选</label>
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('BCategory', b_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in b_categories">
          <div x-ng-if="category.enable">
            <input type="checkbox" data-ng-model="category.checked">
            <a x-ng-show="!is_editing_b" x-ng-click="select('b_category_id', category)" data-ng-class="{active: selected.b_category_id == category.id}" class="category-link" href="">
              {{category.name}}
            </a>
          </div>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="c_categories && c_categories.length != 0">
          <input id="c" type="checkbox" data-ng-model="c_all" ng-change="selectAll(c_categories,c_all)"><label for="c" class="checked_all">全选</label>
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('CCategory', c_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in c_categories">
          <div x-ng-if="category.enable">
            <input type="checkbox" data-ng-model="category.checked">
            <a x-ng-show="!is_editing_c" x-ng-click="select('c_category_id', category)" data-ng-class="{active: selected.c_category_id == category.id}" class="category-link" href="">
              {{category.name}}
            </a>
          </div>
        </li>
      </ul>
      <ul class="col-md-3 col-xs-3">
        <li class="actions" x-ng-show="d_categories && d_categories.length != 0">
          <input id="d" type="checkbox" data-ng-model="d_all" ng-change="selectAll(d_categories,d_all)"><label for="d" class="checked_all">全选</label>
          <a href="javascript:void(0);" x-ng-click="doRemoveCategory('DCategory', d_categories)" class="pull-right btn btn-xs btn-link">
            <i class="text-danger glyphicon glyphicon-minus"></i>
            移除
          </a>
          <div class="clearfix"></div>
        </li>
        <li data-ng-repeat="category in d_categories">
          <div x-ng-if="category.enable">
            <input type="checkbox" data-ng-model="category.checked">
            <a x-ng-show="!is_editing_d" x-ng-click="select('d_category_id', category)" data-ng-class="{active: selected.d_category_id == category.id}" class="category-link" href="">
              {{category.name}}
            </a>
          </div>
        </li>
      </ul>
    </div>
    <hr>
    <div class="items-ctner" x-ng-if="check_items && check_items.length != 0">
      <h4>检验项目
        <small class="text-warning">（点击各检验项目展开详情）</small>
      </h4>
      <div class="select_checkbox">
        <input id="item" class="inspection_select" type="checkbox" ng-model="item_all" ng-change="selectAll(check_items,item_all)">
        <label class="checked_all" for="item">全选</label>
        <a href="javascript:void(0);" x-ng-click="doRemoveCategory('CheckItem', check_items)" class="pull-right btn btn-xs btn-link" style="margin-right: 795px;">
          <i class="text-danger glyphicon glyphicon-minus"></i> 移除
        </a>
      </div>
      <hr>
      <div class="item list-group" data-ng-repeat="check_item in check_items">
        <div class="list-group-item-heading" ng-if="check_item.enable">
          <h5>
            <input type="checkbox" class="ng-pristine ng-valid ng-empty ng-touched" data-ng-model="check_item.checked" ng-disabled="!check_item.enable">
            <span x-ng-click="toggleItem(check_item)">{{$index + 1}}. {{check_item.name}}</span>
            <a x-ng-if="current_item == check_item" x-ng-click="deleteItem($index)" class="btn text-danger btn-xs pull-right" href="javascript:void(0);">移除该检测项</a>
          </h5>
        </div>
        <div x-ng-if="current_item == check_item" class="list-group-item-body">
          <table class="table table-bordered table-condensed">
            <tr>
              <th style="text-align: center; vertical-align: middle;" width="80">名称</th>
              <td>{{check_item.name}}</td>
            </tr>
            <tr>
              <th style="text-align: center; vertical-align: middle;" width="80">结果单位</th>
              <td>{{check_item.JGDW}}</td>
            </tr>
            <tr>
              <th width="80" style="vertical-align: middle; text-align: center;">判定依据</th>
              <td>
                <ol style="padding-left: 30px;" class="pdyj-list">
                  <li data-ng-repeat="pdyj in check_item.PDYJ track by $index">
                    {{pdyj}}
                  </li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>检测方法</th>
              <td>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>检验依据</th>
                    <th>标准方法检出限</th>
                    <th>标准检出限单位</th>
                    <th>标准最小允许限</th>
                    <th>标准最小允许限单位</th>
                    <th>标准最大允许限</th>
                    <th>标准最大允许限单位</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="option in check_item.options">
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.JYYJ}}" data-ng-model="option.JYYJ" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZFFJCX}}" data-ng-model="option.BZFFJCX" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZFFJCXDW}}" data-ng-model="option.BZFFJCXDW" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZXYXX}}" data-ng-model="option.BZZXYXX" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZXYXXDW}}" data-ng-model="option.BZZXYXXDW" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZDYXX}}" data-ng-model="option.BZZDYXX" readonly="readonly">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" tooltip-placement="top" tooltip="{{option.BZZDYXXDW}}" data-ng-model="option.BZZDYXXDW" readonly="readonly">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div x-ng-if="!!selected.d_category_id">
    <hr>
    <!--<button x-ng-click="doSave(selected.d_category_id)" class="btn btn-success btn-sm">保存</button>-->
  </div>

  <!--<hr>
  <div class="well well-sm">
    <h3>报送分类模板更新</h3>
    <%#= form_for @baosong_b do |f| %>
        <div class="form-group">
          <%#= f.label '模板文件' %> <a href="/baosong_tmpl.xls">导入模板下载</a>
          <%#= f.file_field :file, :class => "form-control input-sm" %>
        </div>
        <div class="actions">
          <%#= f.submit "提交", :class => "btn btn-sm btn-primary", 'data-confirm' => '确定提交报送分类的更新模板吗?此操作比较危险,可能会导致数据的取值问题,提交前请确认风险承受能力.' %>
        </div>
    <%# end %>
  </div>-->
</div>
