<title>中国食品药品检定研究院数据报送系统</title>
<body>
<%= form_tag do %>
<DIV class="header"></DIV>
<DIV class="mainbox">

<DIV>新增用户</DIV>
<div><br></br></div>
<DIV class="fontsign" style="width:132px">请输入用户名:</div>
<div><INPUT style="WIDTH: 150px" name="name" id="name"></DIV>
<DIV class="fontsign" style="width:132px">请输入密码:</DIV>
<DIV><INPUT style="WIDTH: 150px" type="password" name="password" id="password"></DIV>
<DIV class="fontsign" style="width:132px">请再次输入密码:</DIV>
<DIV><INPUT style="WIDTH: 150px" type="password" name="password_confrimation" id="password_confrimation"></DIV>
<DIV class="fontsign" style="width:132px">您真实姓名:</DIV>
<DIV><INPUT style="WIDTH: 150px" name="tname" id="tname"></DIV>
<DIV class="fontsign" style="width:132px">联系电话:</DIV>
<DIV><INPUT style="WIDTH: 150px" name="tel" id="tel"></DIV>
<DIV class="fontsign" style="width:132px">电子邮箱:</DIV>
<DIV><INPUT style="WIDTH: 200px" name="eaddress" id="eaddress"></DIV>
<DIV class="fontsign" style="width:132px">所在单位:</DIV>
<DIV><INPUT style="WIDTH: 260px" name="company" id="company"></DIV>

<DIV><INPUT type="image" src="../images/bt2-02.jpg" onclick="submit"></DIV>


</DIV>






<DIV class="footer">中国食品药品检定研究院<A href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</A></DIV>
<% end %>

</body>