<title>中国食品药品检定研究院数据报送系统</title>
<body>
<%= form_tag do %>
<DIV class="header"></DIV>
<DIV class="mainbox">
<DIV class="left"></DIV>
<DIV class="right">
<DIV class="fmtittle">欢迎使用检测检验数据管理平台</DIV>
<DIV class="fm1l">用户名</DIV>
<DIV class="fm1r"><INPUT style="WIDTH: 150px" name="name" id="name"></DIV>
<DIV class="fm1l">密 码</DIV>
<DIV class="fm1r"><INPUT style="WIDTH: 150px" type="password" name="password" id="password"></DIV>
<DIV class="fm2l"><INPUT type="image" src="../images/bt2.jpg" onclick="submit"></DIV>
<DIV class="fm2r"><INPUT type="image" src="../images/bt2-02.jpg" action="logout" onclick="logout"></DIV>
</DIV></DIV>
<DIV class="footer">中国食品药品检定研究院<A href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</A></DIV>
<% end %>

</body>
