<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>核查处置统计</title>
    <!-- css
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/cjdwtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/cjdwtj","welcome_index", :media => "all" %>
    <!-- js
    <script src="../libs/jquery-2.1.4/dist/jquery.min.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../libs/layDate/laydate.js"></script>
    <script src="../libs/echarts.js"></script>
    -->
    <%= javascript_include_tag "statistics/layDate/laydate","statistics/city_data","statistics/hccztj" %>
    <script>
        $(document).ready(function(){
            // 时间区域选取
            // 初始时间
            laydate.render({
              elem: '#page-start', //指定元素
              type: 'month',
                value:'2016-08'
            });
            // 结束时间
            laydate.render({
              elem: '#page-end', //指定元素
              type: 'month',
                value:'2017-02'
            });

            // 按地区选择表格数据
            var cq_select = $(".topbtnSect_cqtj");
            cq_select.change(function(){
              /*  $.ajax({
               type: "post",
               contentType: "application/json",
               url: "WebService1.asmx/Login",
               data: {
               "parmas":parmas.join(',')
               },
               success: function (data) {
               if (data == 'true') {
               window.location.open = 'HTMLPage1.htm';
               }
               else {
               alert("数据错误");
               }
               }
               })
               */
                var data = [{"czdw":"处置单位","czhj":"处置环节","bhgczs":"不合格处置数","bhgczl":"不合格处置率","bhgczwcs":"不合格处置完成数",
                    "yys":"异议数","fjs":"复检数","fjbhgs":[1,2,3,4,7],"las":[1,2,3,4,5,6,7]}];
                $('#tb_report').bootstrapTable('destroy');
                var cq_selected = $(this).find("option:selected").text();
                 alert(cq_selected);
                getData(data)
            })
            getData(data);
        })
        var data = [{"czdw":"处置单位","czhj":"处置环节","bhgczs":"不合格处置数","bhgczl":"不合格处置率","bhgczwcs":"不合格处置完成数",
            "yys":"异议数","fjs":"复检数","fjbhgs":"复检不合格数","las":[1,2,3,4,5,6,7]}];

        function getData(info){
            $('#tb_report').bootstrapTable({
                //url: '/GroupColumns/GetReport',         //请求后台的URL（*）
                //method: 'get',                      //请求方式（*）
                data:info,
                // datatype:'json',
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                      //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                search: true, //显示搜索框
                // pagination: true,                   //是否显示分页（*）
                // sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                // sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                // pageNumber: 1,                       //初始化加载第一页，默认第一页
                // pageSize: 10,                       //每页的记录行数（*）
                // pageList: [10, 25, 50, 100],      //可供选择的每页的行数（*）
                columns : [
                    {
                        title : '序号',//标题  可不加
                        formatter : function(value,row, index) {
                            return index + 1;
                        }
                    },
                    {
                        field : 'czdw',
                        title : '处置单位',
                        align : 'center',
                        formatter : function (value, row, index) {
                            return value;
                        }
                    },{
                        field : 'czhj',
                        title : '处置环节',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },{
                        field : 'bhgczs',
                        title : '不合格处置数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },
                    {
                        field : 'bhgczl',
                        title : '不合格处置率',
                        align : 'center',
                        formatter : function (value, row, index) {
                            return value;
                        }
                    },{
                        field : 'bhgczwcs',
                        title : '不合格处置完成数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },{
                        field : 'yys',
                        title : '异议数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },{
                        field : 'fjs',
                        title : '复检数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },{
                        field : 'fjbhgs',
                        title : '复检不合格数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var info = "<a href='javascript:void(0);' onclick = 'getinfo();'>"+value+"</a>";
                            return info;
                        }
                    },{
                        field : 'las',
                        title : '立案数',
                        align : 'center',
                        formatter : function (value, row, index) {
                            var num = value.length;
                            var info = "<a href='javascript:void(0);' onclick = getinfo('"+value+"');>"+num+"</a>";
                            return info;
                        }
                    }
                ]
            });
        }
        //点击数量弹出列表
        function getinfo(parmas){
            console.log(parmas);
          /*  $.ajax({
                type: "post",
                contentType: "application/json",
                url: "WebService1.asmx/Login",
                data: {
                    "parmas":parmas.join(',')
                },
                success: function (data) {
                    if (data == 'true') {
                        window.location.open = 'HTMLPage1.htm';
                    }
                    else {
                        alert("数据错误");
                    }
                }
            })
           */
        }
    </script>
</head>
<body>
<div class="container">
    <!-- 头部head -->
    <div class="page-header testcompany_header">
        <h1>核查处置统计  </h1>
    </div>
    
    <!-- 上侧按钮部分 -->
    <div class="btn-group topside_date" role="group" aria-label="...">
        <!-- 按日期查询按钮 -->
        <div class="fillpage-date">
            <span>样品填报时间：</span>
            <div class="form-group">
                <label class="sr-only" for="page-start">开始时间</label>
                <input type="text" class="form-control" id="page-start" placeholder="开始时间">
            </div>
            <div style="width:20px;height:3px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;display: inline-block;"></div>
            <div class="form-group">
                <label class="sr-only" for="page-end">结束时间</label>
                <input type="text" class="form-control" id="page-end" placeholder="结束时间">
            </div>    
        </div>
        <!-- 切换显示模式 -->
        <div class="topside_switch">
            <button type="button" class="btn btn-default bgc1 btn-primary exportR">导出报表</button>
            <button type="button" class="btn btn-default bgc1 btn-primary" id="checkBtn">查询</button>
            <button type="button" class="btn btn-default changeType" id="changeBtn">切换图表模式</button>
        </div>
    </div>

     <!-- 上侧按钮部分 -->
    <div class="topbtn_cqtj">
        <form role="form">
            <div class="form-group topbtnSect_cqtj">
                <!-- 左侧选取栏 -->
                <label>区域：</label>
                <select class="form-control cqtj_option" id="cqtj_option"></select>
            </div>
        </form>
    </div>

    <!-- 表格数据 -->
    <div class="anhui_datastatistics">
        <div class="hefei_datastatistics content_bottom data-list">
            <table id = "tb_report" class="table table-bordered">

            </table>
        </div>

    <!-- 右侧图表 -->
    <div class="charts">
        <div class="charts_1 hide">
            <div class="rightChart" id="chart" >
        
            </div> 
        </div> 
    </div>  
</div>
</div>
</body>
</html>
