<div style="text-align: center; margin: 10px;">
  <h2>不合格样品及问题样品预警</h2>
  <p>对不合格样品及问题样品进行实时预警，及时告知抽样单位辖区市局、省局，防止食品安全事件发生。</p>
</div>
<div>
  <div id="map" style="width: 100%;height:600px; text-align: center"></div>
  <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('map'));
    function showProvince() {
      var name = 'anhui';
      $.get('assets/' + name + '.json', function (geoJson) {
        echarts.registerMap(name, geoJson);
        myChart.setOption(option = {
          backgroundColor: '#fff',
          visualMap: {
            min: 0,
            max: 2500,
            left: 'left',
            top: 'bottom',
            text: [
              '高', '低'
            ], // 文本，默认为数值文本
            calculable: true
          },
          toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
              dataView: {
                readOnly: false
              },
              restore: {},
              saveAsImage: {}
            }
          },
          title: {
            text: '安徽',
            left: 'center',
            textStyle: {
              color: '#fff'
            }
          },
          series: [
            {
              type: 'map',
              mapType: name,
              data: [
                {
                  name: '合肥市',
                  value: 1230
                }, {
                  name: '淮南市',
                  value: 356
                }, {
                  name: '安庆市',
                  value: 1678
                }
              ],
              label: {
                emphasis: {
                  textStyle: {
                    color: '#fff'
                  }
                },
                normal: {
                  show: true
                },
                emphasis: {
                  show: true
                }
              },
              // itemStyle: {   normal: {     borderColor: '#389BB7',     areaColor: '#fff'   },   emphasis: {     areaColor: '#389BB7',     borderWidth: 0   } },
              animation: false
            }
          ]
        });
      });
    }
    showProvince();
  </script>
</div>
