<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>企业覆盖率统计</title>
    <!-- css -->
    <!--
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/cjdwtj.css">
    -->
    <%#= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "statistics_old/reset","statistics_old/cjdwtj","welcome_index", :media => "all" %>
    <!-- js -->
    <!--
    <script src="../libs/jquery-2.1.4/dist/jquery.min.js"></script>
    <script src="../libs/echarts.js"></script>
    <script src="../libs/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
    <script src="../libs/echarts.js"></script>
    -->
    <%= javascript_include_tag "statistics/city_data","statistics/qyfgltj" %>
    <style>
        h4.tableTit_h3{
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        h2{
            font-size: 18px;
            font-weight: 700;
            padding:10px 0;
            margin-top: 50px;
        }
        .chart_title1{
            margin-top: -39px;
        }
        .marginL50{
            margin-left: 50px;
        }
        .charts_2{
            margin-top: 0;
        }
    </style>
    <script type="text/javascript">
    $(".leftsidebar_box dt").css({"background-color":"#3992d0"});
    $(".leftsidebar_box dt img").attr("src","../images/left.png");
    $(function(){
        //$('.topbtnSect_cqtj').children().hide();
        changeBtn();
        getData(info);
    })
    // 点击切换图表
    function changeBtn(){
        $('#changeBtn').click(function(event) {
            var that=$(this);
            $('.content_bottom').toggleClass('hide');
            $('.charts').toggleClass('hide');
            if($('.content_bottom').is(':hidden')){
                that.text('切换表格模式');
                $('.exportR').addClass('hide');
              //  $('.topbtnSect_cqtj').children().show();
            }else{
                that.text('切换图表模式');
                $('.exportR').removeClass('hide');
              //  $('.topbtnSect_cqtj').children().hide();
            }
        });
    }
    var info = [{"area":"合肥","zqys":"12","bcqys":[1,2,3,4,5],"fgl":"12"},
        {"area":"合肥","zqys":"12","bcqys":[1,2,3,4,5],"fgl":"12"},
        {"area":"合肥","zqys":"12","bcqys":[1,2,3,4,5],"fgl":"12"},
        {"area":"合肥","zqys":"12","bcqys":[1,2,3,4,5],"fgl":"12"}];
    function getData(info){
        $('#tb_report').bootstrapTable({
            //url: '/GroupColumns/GetReport',         //请求后台的URL（*）
            //method: 'get',                      //请求方式（*）
            data:info,
            // datatype:'json',
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                      //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            search: true, //显示搜索框
            pagination: true,                   //是否显示分页（*）
            // sortOrder: "asc",                   //排序方式
            //queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],      //可供选择的每页的行数（*）
            columns : [
                {
                    title : '序号',//标题  可不加
                    formatter : function(value,row, index) {
                        return index + 1;
                    }
                },
                {
                    field : 'area',
                    title : '区域',
                    align : 'center',
                    formatter : function (value, row, index) {
                        return value;
                    }
                },{
                    field : 'zqys',
                    title : '总企业数',
                    align : 'center'
                },{
                    field : 'bcqys',
                    title : '被抽企业数',
                    align : 'center',
                    formatter : function (value, row, index) {
                        var info = "<a href='javascript:void(0);' onclick = openPostWindow('"+value+"')>"+value.length+"</a>";
                        return info;
                    }
                },
                {
                    field : 'fgl',
                    title : '覆盖率',
                    align : 'center',
                    formatter : function (value, row, index) {
                        return value+"%";
                    }
                }
            ]
        });
    }
    function getInfo(params,flag){
       /* $.ajax({
            type: "get",
            async : false, //同步执行
            url: "",
            data: {
                "area":area,
                "flag": flag //0为表格  1，为图表
            },
            success: function (data) {
                if (data) {
                    //先销毁表格
                    $('#tb_report').bootstrapTable('destroy');
                    getData(data);
                }
                else {
                    alert("数据错误");
                }
            }
        })*/
    }
    </script>
</head>
<body>
<div class="container">
    <!-- 头部head -->
    <div class="page-header testcompany_header">
        <h1>企业覆盖率统计</h1>
    </div>
    
    <!-- 上侧按钮部分 -->
    <div class="btn-group topside_date" role="group" aria-label="...">
        <!-- 切换显示模式 -->
        <div class="topside_switch">
            <button type="button" class="btn btn-default bgc1 btn-primary exportR">导出报表</button>
            <button type="button" class="btn btn-default changeType" id="changeBtn">切换图表模式</button>
        </div>

    </div>
  <div class="content">
    <!-- 左侧选取栏 -->
    <div class="content_left" style="float: left; width: 10%;height: 400px;">
      <label>区域：</label>
      <select style="width: 100%;height: 400px;" class="form-control cqtj_option" id="cqtj_option"  multiple="multiple"></select>
    </div>
     <!-- 右侧表格 -->
    <div class="content_bottom data-list" style="float: right;width: 85%;margin:0 auto 80px;">
        <!-- 生产企业覆盖率 -->
        <h4 class="tableTit_h3">生产企业覆盖率</h4>
        <table id="tb_report" class="table table-bordered">
        </table>
    </div> 

    <!-- 右侧图表    -->
    <div class="charts hide" style="float: right;width: 85%;margin:0 auto 80px;">
        <h2 class="marginL50">企业生产覆盖率</h2>
        <div class="charts_2">
            <div id="chart_2"></div>
        </div>
    </div>
  </div>
</div>
</body>
</html>
