<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>详情页</title>
  <!--<link rel="stylesheet" href="../assets/styesheet/bootstrap.css">-->
  <%= stylesheet_link_tag "application.css","welcome_index", :media => "all" %>
  <%#= javascript_include_tag "statistics/jquery.min","bootstrap-table","bootstrap-table-zh-CN","statistics/particulars" %>
  <%= javascript_include_tag "application.js","statistics/particulars" %>
</head>
<script>
  $(document).ready(function(){
      var data = <%= raw @data %>;
      getDataTp(data);
   })
</script>
<br>
  <div class="myTable">
    <h2 class="data-title">信息详情</h2>
    <div class="data-list">
      <table id = "tb_report1">
      </table>
    </div>
  </div>
</br>
</div>
</body>
</html>
