<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详情页</title>
  <%= stylesheet_link_tag "welcome_index", :media => "all" %>
  <%= javascript_include_tag "statistics/particulars" %>
</head>
<br>
  <div class="myTable">
    <h2 class="data-title">信息详情</h2>
    <div class="data-list">
      <table id = "tb_report1">
      </table>
    </div>
  </div>
</br>

</div>
</body>
</html>