<%= stylesheet_link_tag "statistics_old/bootstrap/dist/css/bootstrap.min.css", :media => "all" %>
<%= stylesheet_link_tag "statistics_old/reset","statistics_old/cjdwtj","statistics_old/TreeGrid", :media => "all" %>
<body>
<div class="container">
    <!-- 头部head -->
    <div class="page-header testcompany_header">
        <h1>承检单位统计</h1>
    </div>
    
    <!-- 上侧按钮部分 -->
    <div class="btn-group topside_date" role="group" aria-label="...">
        <!-- 按日期查询按钮 -->
        <div class="fillpage-date">
            <span>样品填报时间：</span>
            <div class="form-group">
                <label class="sr-only" for="page-start">开始时间</label>
                <input type="text" class="form-control" id="page-start" placeholder="开始时间">
            </div>
            <div style="width:20px;height:3px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;display: inline-block;"></div>
            <div class="form-group">
                <label class="sr-only" for="page-end">结束时间</label>
                <input type="text" class="form-control" id="page-end" placeholder="结束时间">
            </div>    
        </div>
        <!-- 切换显示模式 -->
        <div class="topside_switch">
            <button type="button" class="btn btn-default changeType" id="select">查询</button>
            <button type="button" class="btn btn-default bgc1 btn-primary exportR" id="export">导出报表</button>
            <button type="button" class="btn btn-default changeType" id="changeBtn">切换图表模式</button>
        </div>
    </div>
    <div class="topbtn_cqtj">
        <form role="form">
            <div class="form-group topbtnSect_cqtj hide">
                <!-- 左侧选取栏 -->
                <label>区域：</label>
                <select class="form-control cqtj_option" id="cqtj_option"></select>
            </div>
        </form>
    </div>

    <div id="subpage">
      <%= render :partial => "subpage_unit_statistics", :locals => {:data => @data} %>
    </div>

</div>
</body>
<script>
  $(document).ready(function(){
    $("#select").click(function(){
      request_ajax();
    })
    function request_ajax() {
      var url  = "/unit_statistics";
      $.ajax({
        type: "get",
        url:  url,
        data: {"subpage":"true"},
        success: function(data){
          $("#subpage").html(data);
          treeGrid.expandAll("N");//默认关闭
          chart()
        }
      });
    }
  }) 
</script>
</html>
