<title>检验检测数据管理平台</title>
<head>
<script type="text/javascript">
    function partRefresh1() {
        document.getElementById("indexid").src="/bjp_bsbs/new";
    }
    function partRefresh2() {
        document.getElementById("indexid").src="/bjp_bsbs";
    }
</script>
</head>

<body>
<DIV id=top>
<DIV id=logo><IMG src="../images/logo.jpg"></A> </DIV>


<DIV id=top_right>欢迎您:<%=@myuser%><%= button_to "退出",'/admin/logout',:method => :get %><%=(Time.now).strftime("%c")%></DIV></DIV>





<DIV class=nav>
<UL>
  <LI style="WIDTH: 90px"><A href="main.html">&#x7CFB;&#x7EDF;&#x9996;&#x9875;</A> 
  </LI>
  <LI style="WIDTH: 150px"><A href="javascript:void(0);"  target=_blank>&#x68C0;&#x9662;&#x4E3B;&#x9875;</A> </LI>
  <LI style="WIDTH: 200px"><A href="javascript:void(0);"  target=_blank>&#x7CFB;&#x7EDF;&#x8BF4;&#x660E;</A> </LI>
  <LI style="WIDTH: 145px"><A  href="javascript:void(0);" target=main_content>&#x5E38;&#x89C1;&#x95EE;&#x9898;</A> </LI></UL></DIV>
<DIV class=banner_sc></DIV>
<DIV class=mainbox>
<DIV class=main_left>
<DIV id=PARENT>
<UL id=nav>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center">
  <%#= link_to "表单录入",:action=>"new",:controller=>"hzp_bc_dws" %></A> </LI>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh1();">采样单位录入</A> </LI>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="javascript:partRefresh2();">采样单位查看</A> </LI>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="/hzp_ypbs/new">采样样品录入</A></LI>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="/hzp_ypbs">采样样品查看</A> </LI>
  <LI><A style="FONT-SIZE: 20px; FONT-FAMILY: &#x9ED1;&#x4F53;; TEXT-ALIGN: center" href="/users">登录用户管理</A> </LI>
	</UL></DIV></DIV></FORM>    

<DIV class=main_right>
<DIV class=right_content>
<DIV style="MARGIN-LEFT:5px"><BR>
  

  <div><iframe src="/bjp_bsbs/new" id="indexid"  name="indexname" height="600px" width="100%" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″></iframe></div>





 
        
        </DIV>
        
</DIV></DIV>


<DIV style="CLEAR: both"></DIV></DIV>
<DIV class=cp>&#x4E2D;&#x56FD;&#x98DF;&#x54C1;&#x836F;&#x54C1;&#x68C0;&#x5B9A;&#x7814;&#x7A76;&#x9662;&#x3000;&#x3000;<A href="mailto:info@nifdc.org.cn" target="_blank">E-mail:info@nifdc.org.cn</A></DIV>
</body>
</html>
