<html>
    <body>
      <H2 style="TEXT-ALIGN: center">欢迎使用</H2>
      <P>尊敬的用户：<BR>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      欢迎您使用检验检测数据管理平台，本平台根据中国食品药品检定研究院特点和需要定制开发，充分发挥了现代信息技术对检验检测数据的管理作用，通过平台有效整合资源、提高工作效率、提升管理水平，进一步推动我院向“精细化管理”转变。平台主要功能如下：<BR>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      1、录入包括保健食品安全检测数据填报表，化妆品安全检测数据填报表、餐饮服务食品安全检测数据填报表；<BR>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2、对需审批的项目进行审批操作；<BR>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、通过数据统计功能对库内表单进行统计；<BR>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      4、备份数据及查看操作日志；<BR>
      <BR>
      </P>
      
      <P><BR>
        &nbsp;</P>
		</DIV></DIV></DIV>
<form action="/bjp_bsbs" method="post">

填报起始日期:&nbsp;<input type="text" id="begin_time" name="begin_time"></input>&nbsp;&nbsp;
至填报结束日期:&nbsp;<input type="text" id="ending_time" name="ending_time"></input>
<input type="submit" value="搜索" ></input>

</body>
</html>
