@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	text-align:center;
	background:#fff url(/assets/line_main.gif) repeat-x 0 0;
	font-family: "宋体" Arial, Helvetica, sans-serif;
}
img { border:none; }

.header {
	margin:0 auto;
	width:500px;
	height:120px;
	background: url(/assets/logologin.jpg) no-repeat 0 42px;
}

.logmainbox {
	margin:0 auto;
	width:680px;
	height:388px;
	text-align:left;
	padding:0px;
}
.mainbox {
	margin:0 auto;
	width:500px;
	height:300px;
	text-align:left;
	padding:0px;
}
.left {
	float:left;
	width:335px;
	height:388px;
	background:url(/assets/main_img1.jpg) no-repeat 0 0;
}
.right {
	float:right;
	width:345px;
	height:388px;
	background:url(/assets/main_img2.jpg) no-repeat 0 0;
	font:bold 15px "宋体";
	text-align:left;
	color:#fff;
}

.fmtittle{ margin-top:93px; margin-bottom:15px;  text-align:center; color:#003756; font-size:17px; font-family:"黑体";}
.fmtittle2{ margin-top:75px; margin-bottom:5px;  text-align:center; color:#003756; font-size:17px; font-family:"黑体";}
.fm1l{ width:105px; _width:103px; height:23px; _height:21px; vertical-align:middle; text-align:right; margin-top:10px; margin-bottom:10px; float:left;  color:#ffffff; font-size:14px; font-family:"黑体";}
.fm1r{ width:210px; _width:208px; height:23px; _height:21px;  margin-left:15px; margin-top:10px; margin-bottom:10px; float:right;  text-align:left; color:#ffffff; font-size:14px; font-family:"黑体";}
.fm2l{ width:165px; _width:153px; height:23px; _height:21px; vertical-align:middle; text-align:right; margin-top:10px; margin-bottom:10px; float:left;  color:#ffffff; font-size:14px; font-family:"黑体";}
.fm2r{ 
	width:80px; 
	_width:78px; 
	height:33px; 
	_height:31px; 
	margin-left:35px; 
	margin-top:10px; 
	margin-bottom:10px; 
	float:left;  
	text-align:left; 
	color:#ffffff; 
	font-size:0px; 
	font-family:"黑体";
	
}
.fontsign{margin-top:5px;margin-right:10px;float:left;  text-align:left; color:#ffffff; font-size:16px; font-family:"黑体";}
.fonthead{margin-top:10px;margin-right:10px;float:center;  text-align:center; color:#ffffff; font-size:26px; font-family:"黑体";}
.fonttable{margin-top:5px;margin-right:10px;float:left;  text-align:left; color:#000000; font-size:16px; font-family:"黑体";}
.textarea {
	width:160px;
	height:20px;
	border:#c9caca solid 1px;
	
}


.tips_box {
	margin:0;
	padding:0;
	width:100%;
	height:90px;
	background:#eee;
	border-top:#ccc solid 5px;
	text-align:center;
}
.tips {
	margin:0 auto;
	padding-left:60px;
	width:815px;
	height:88px;	
	color:#5e919c;
	font-size:12px;
	line-height:23px;
	text-align:left;
	background:url(/assets/tips.gif) no-repeat 0 -3px;
}
.tips p {
	margin-top:15px;
	padding:0;
}
.tips a {color:#F96; text-decoration:none;}




.footer {
	margin:0 auto;
	width:100%;
	height:85px;
	line-height:90px;
	background:#eee;
	color:#555;
	font-size:12px;
	border-top:#ccc solid 5px;
}
.footer a {
	color:#666;
	text-decoration:none;
}
