@charset "utf-8";
/* CSS Document */

img { border:none;}
body {
	margin:0;
	padding:0;
    text-align:left;
	background:#fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
}

/*Define the top*/
#top {
	margin:8px auto;
	padding:0 20px 0 0;
	width:980px;
	height:70px;
}
#top_right {
	padding-top:10px;
	float:right;
    text-align:right;
	line-height:1.5em;
	font-size:13px;
	display:inline；
}

#logo {
	float:left;
	width:315px;
	height:70px;
}
/*top stop*/



/*define the nav*/
.sys-nav {
	margin:0 auto; 
	padding:0; 
	background:#7d7d7d;
	width:1000px;
	height:40px;
	}
.sys-nav li {
	list-style:none;
	line-height:40px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	float:left;
  background: url(asset_path('line_nav.gif')) no-repeat right top;
}
.sys-nav a{
	display:block;
	font-size:14px; 
	text-align:center; 
	height:40px;
	color:#fff;
	}
.sys-nav a:link{
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.sys-nav a:visited{
	color:#cef9fc; 
	font-weight:bold; 
	text-decoration:none;
}
.sys-nav a:hover{
	color:#931217; 
	font-weight:bold;
	text-decoration:none;
	}
.sys-nav a:active{text-decoration:none;}
/*nav stop*/

.nav_bg {
	clear:both;
	margin:0 auto;
	width:1000px;
	height:225px;
	background: url(asset_path('banner_ad.jpg')) no-repeat;
}
.banner_in {
	clear:both;
	margin:0 auto;
	width:1000px;
	height:225px;
	background: url(asset_path('banner_in.jpg')) no-repeat;
}


.mainbox {
	margin:0 auto;
	width:1000px;
  text-align:left;
}

.nav-ctner {
	height: 650px;
	overflow-y: scroll;
}
.main_left {
	float:left;
	width:140px;
	height:auto;
	background:#91b7c0;
	text-align:left;
	height:635px;
  _height:635px;
}

div.sdmenu {
	width:100%;
}
div.sdmenu div {
	overflow: hidden;
}
* html div.sdmenu div{
    float:left
}
div.sdmenu div span {
	display: block;line-height:38px;width:100%;cursor: pointer; 
}
div.sdmenu div span a{
    padding:0; 
	border:0; 
	font-size:13px;
	line-height:38px;
	display:block;
}
div.sdmenu div.collapsed {
	background:#e4f6fa; width:100%; color:#146b9a;height:38px; border-bottom:#333 dotted 1px;
}
div.sdmenu div.collapsed span{
   line-height:38px; 
}
div.sdmenu div.collapsed span a.current{ 
   line-height:38px;
}
div.sdmenu div a {
	padding-left:39px;
	display: block;
	border-bottom: 1px solid #bfd1d6;
	color:#000;
	font-size:13px;  
	line-height:30px;
	text-decoration:none;
}
div.sdmenu div a.current {
	  color:#000;
}
div.sdmenu div a:visited {
	background:none; text-decoration: none; 
}
div.sdmenu div a:hover {
	text-decoration: none;
}
div.sdmenu div span a.current {
	line-height:38px;
}
div.sdmenu div span a:hover {
	line-height:38px;
}

.main_right {
	float:right;
	width:85%;
	min-height:635px;
    _height:635px;
	background:#fff;
}
.main_my{
	color:#fff;
	background: url(asset_path('rails.png')) no-repeat;
}

.right_content { 
	width:100%; 
	height:100%; 
	padding: 5px 10px;
}

.copyright {
	border-top: 1px solid #cecece;
	padding-top: 15px;
}

.cp {
	margin:0 auto;
	padding:0;
	clear:both;
	width:1000px;
	height:35px;
	line-height:35px;
	color:#888;
}
.cp a { color:#888; text-decoration:none;}
*{margin:0;padding:0;}
#nav {
 width:140px;
 line-height: 38px; 
 list-style-type: none;
 text-align:left;
    /*∂®“Â’˚∏ˆul≤Àµ•µƒ––∏ﬂ∫Õ±≥æ∞…´*/
}
/*==================一级目录===================*/
#nav a {
 width: 140px; 
 display: block;
 padding-left:0px;
 /*Width(“ª∂®“™)£¨∑Ò‘Úœ¬√ÊµƒLiª·±‰–Œ*/
}
#nav li {
  background-color:#c8dbe0;
 border-bottom:#FFF 1px solid; /*œ¬√Êµƒ“ªÃı∞◊±ﬂ*/
 /*float£∫left,±æ≤ª”¶∏√…Ë÷√£¨µ´”…”⁄‘⁄Firefox≤ªƒ‹’˝≥£œ‘ æ
 ºÃ≥–Navµƒwidth,œﬁ÷∆øÌ∂»£¨li◊‘∂ØœÚœ¬—”…Ï*/
}
#nav li a:hover
{
    background-color:#c8dbe0;
}
#nav a:link  {
 color:#447c8e; text-decoration:none;
}
#nav a:visited  {
 color:#447c8e;text-decoration:none;
}
#nav a:hover  {
 color:#447c8e;text-decoration:none;
}
/*==================∂˛º∂ƒø¬º===================*/
#nav li ul {
 list-style:none;
 text-align:left;
}
#nav li ul li{ 
 background: #EBEBEB; 
}
#nav li ul a{
         padding-left:50px;
         width:130px;
}
.subnav a {
  width: auto !important;
  padding-left: 0 !important;
  text-align: center;
}
.subnav li {
  width: 100%;
}
#nav li ul a:link  {
 color:#666; text-decoration:none;
}
#nav li ul a:visited  {
 color:#666;text-decoration:none;
}
#nav li ul a:hover {
 color:#F3F3F3;
 text-decoration:none;
 font-weight:normal;
 background:#A8B8BC;
}
#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
}
#content {
 clear: left; 
}
#nav ul.collapsed {
 display: none;
}
#PARENT{
 width:180px;
 padding-left:0px;
}
.classify_select {
	width: 100px;
}
